
body {
    background-color: #1c150e;
    color: #ffd296;
    font-family: 'Bodoni MT';
}

footer {
    color: dodgerblue;
    text-align: center;
}

#nav {
    text-align: center;
    font-size: 30px;
    color: #ffd296;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-image: linear-gradient(to right, #1c150e, #59391d, #1c150e);
    min-width: 700px;
    min-height: inherit;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}